<div class="container text">
  <div class="row justify-content-center">
    <div class="col-4">
      <form [formGroup]="loginDetails" (ngSubmit)="loginUser()">
        <div class="form-group">
          <label for="exampleInputEmail1">Username</label>
          <input type="text" class="form-control" formControlName="name" />
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input
            type="password"
            class="form-control"
            type="password"
            formControlName="pass"
          />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
